CompileFlags:
  CompilationDatabase: >-
    /home/robherc/Projects/RotoForge/Isolated Thermocouple
    Board/Thermocouple_Board/Code/MSPM0G1505/Blank_solution/out/MSPM0G1505-test1/MSPM0G1505/Debug
  Add: []
